################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TFSPraise/TFSPraise/bin
/TFSPraise/TFSPraise/obj

/TFSPraise/packages/Modernizr.2.6.2

/TFSPraise/TFSPraise.Tests/bin/Debug
/TFSPraise/TFSPraise.Tests/obj/Debug/TFSPraise.Tests.csproj.FileListAbsolute.txt
/TFSPraise/TFSPraise.Tests/obj/Debug
