@using TFSPraise.Entities
@model UserProfile

<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="@Model.Identity.Name" src="~/Content/Img/profile_small.jpg" class="img-circle" />
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">@Model.Identity.DispalyName</strong>
                </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
            </span>
        </a>
    </div>
</li>
<ul class="dropdown-menu animated fadeInRight m-t-xs">
    <li><a href="profile.html">Profile</a></li>
    <li><a href="contacts.html">Contacts</a></li>
    <li><a href="mailbox.html">Mailbox</a></li>
    <li class="divider"></li>
    <li><a href="login.html">Logout</a></li>
</ul>
<div class="logo-element">
    IN+
</div>